# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
InspectionsApplication/Inspections/bin/*
InspectionsApplication/Inspections/bin/Debug/Inspections.exe.config
InspectionsApplication/Inspections/bin/Debug/Inspections.pdb
InspectionsApplication/Inspections/bin/Debug/Inspections.vshost.exe.config
InspectionsApplication/Inspections/bin/Debug/Inspections.vshost.exe
InspectionsApplication/Inspections/bin/Debug/Inspections.vshost.exe.manifest
InspectionsApplication/Inspections/obj/*
InspectionsApplication/Inspections/obj/Debug/Inspections.FloorPlan.resources
InspectionsApplication/Inspections/obj/Debug/Inspections.pdb
InspectionsApplication/Inspections/obj/Debug/Inspections.Resources.resources
InspectionsApplication/Inspections/obj/Debug/Inspections.InspectionTools.resources
InspectionsApplication/Inspections/obj/Debug/Inspections.SpaceDetails.resources
InspectionsApplication/Inspections/obj/Debug/Inspections.vbproj.FileListAbsolute.txt
InspectionsApplication/Inspections/obj/Debug/Inspections.vbproj.GenerateResource.Cache
InspectionsApplication/Inspections/obj/Debug/Inspections.xml
InspectionsApplication/Inspections/obj/Debug/TempPE/InspectionsDataSet.Designer.vb.dll
InspectionsApplication/Inspections/obj/Debug/TempPE/InspectionsDataSet1.Designer.vb.dll
InspectionsApplication/Inspections/obj/Release/Inspections.Resources.resources
InspectionsApplication/Inspections/obj/Release/Inspections.vbproj.FileListAbsolute.txt
InspectionsApplication/Inspections/obj/Release/Inspections.pdb
InspectionsApplication/Inspections/obj/Release/Inspections.xml
InspectionsApplication/Inspections/obj/Release/TempPE/InspectionsDataSet1.Designer.vb.dll
InspectionsApplication/Inspections/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
InspectionsApplication/Inspections/obj/Release/Inspections.exe
InspectionsApplication/Inspections/obj/Release/Inspections.InspectionTools.resources
InspectionsApplication/Inspections/obj/Release/TempPE/InspectionsDataSet.Designer.vb.dll
InspectionsApplication/Inspections/obj/Release/Inspections.FloorPlan.resources
InspectionsApplication/Inspections/obj/Release/Inspections.vbproj.GenerateResource.Cache
InspectionsApplication/Inspections/obj/Release/TempPE/My Project.Resources.Designer.vb.dll
InspectionsApplication/Inspections/bin/Debug/Inspections.xml
